name: Validate
on:
  push:
  pull_request:
jobs:
  build-gradle-project:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Make gradlew executable
      run: chmod +x ./gradlew
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
    - name: Build
      run: ./gradlew createReleaseZip
  build-nix-flake:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup Nix
      uses: cachix/install-nix-action@v11
    - name: Setup Cachix
      uses: cachix/cachix-action@v15
      with:
        name: papermario-dx
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Build
      run: nix build
